{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{% static 'account/img/favicon.png' %}" type="image/png">
        <title>ListAshop</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'account/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'account/css/font-awesome.min.css' %}">
        <!-- main css -->
        <link rel="stylesheet" href="{% static 'account/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'account/css/responsive.css' %}">



    </head>
    <body style="background: white;">

        <!--================Header Menu Area =================-->
        <header class="header_area">
            <div style="background:#e5ecee;"class="main_menu">
            	<nav style="background:#e5ecee;" class="navbar navbar-expand-lg navbar-light main_box">
					<div style="margin-bottom: 0px" class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<a class="navbar-brand logo_h" href="{% url 'shop' %}"><img  src="{% static 'account/img/logo.png' %}" alt=""></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav ml-auto">
								<li class="nav-item"><a class="nav-link" href="#">Home</a></li>
								<li class="nav-item"><a class="nav-link" href="{% url 'shop' %}">Shop</a></li>
								<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
									<ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
										<li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
									</ul>
								</li>
								<li class="nav-item submenu dropdown ">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
									<ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link" href="login.html">Login</a>
										<li class="nav-item"><a class="nav-link" href="tracking.html">Tracking</a>
										<li class="nav-item"><a class="nav-link" href="elements.html">Elements</a></li>
									</ul>
								</li>
								<li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
								{% if user.is_authenticated %}
								<li class="nav-item"><a class="nav-link" href="{% url 'logout'%}">Logout</a></li>
								{% else %}
								<li class="nav-item"><a class="nav-link" href="{% url 'login'%}">Login</a></li>
								{% endif %}
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li class="nav-item"><a href="{% url 'cart' %}" class="cart">Cart:{{cart.count}}</a></li>
								<li class="nav-item"><a href="#" class="search"><i class="lnr lnr-magnifier"></i></a></li>
							</ul>
						</div>
					</div>
            	</nav>
            </div>
        </header>
		 {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
		{% block content %}{% endblock %}


         <!--Optional JavaScript-->
         <!--jQuery first, then Popper.js, then Bootstrap JS-->
        <!--<script src="{% static 'account/js/jquery-3.2.1.min.js' %}"></script>-->
        <!--<script src="{% static 'account/js/popper.js' %}"></script>-->
        <!--<script src="{% static 'account/js/bootstrap.min.js' %}"></script>-->
        <!--<script src="{% static 'account/js/stellar.js' %}"></script>-->

        <!--<script src="{% static 'account/js/jquery.ajaxchimp.min.js' %}"></script>-->
        <!--<script src="{% static 'account/js/mail-script.js' %}"></script>-->
        <!--<script src="{% static 'account/vendors/jquery-ui/jquery-ui.js' %}"></script>-->
        <!--<script src="{% static 'account/vendors/counter-up/jquery.waypoints.min.js' %}"></script>-->
        <!--<script src="{% static 'account/vendors/counter-up/jquery.counterup.js' %}"></script>-->
        <!--<script src="{% static 'account/js/theme.js' %}"></script>-->
    </body>

</html>